.nav-item{
    background-color:#15968f;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border: solid;
    text-align: center;
    
    color:white;
    
    
        
}

.nav-item:hover{
    background: none;

    background-color: ;
}
#home-section{
   background: rgb(42,122,112);
background: linear-gradient(90deg, rgba(42,122,112,1) 0%, rgba(41,168,167,1) 0%, rgba(31,81,91,1) 92%);
}
#service-section{
   background: rgb(42,122,112);
background: linear-gradient(90deg, rgba(42,122,112,1) 0%, rgba(41,168,167,1) 0%, rgba(31,81,91,1) 92%);
}
#experience-section{
   background: rgb(42,122,112);
background: linear-gradient(90deg, rgba(42,122,112,1) 0%, rgba(41,168,167,1) 0%, rgba(31,81,91,1) 92%);
}
.head{
    background: rgb(42,122,112);
background: linear-gradient(90deg, rgba(42,122,112,1) 0%, rgba(41,168,167,1) 0%, rgba(31,81,91,1) 92%);
    border: solid;
}
.foot{
    background: rgb(42,122,112);
background: linear-gradient(90deg, rgba(42,122,112,1) 0%, rgba(84,116,116,1) 0%, rgba(54,55,55,1) 0%);;
}
.map{
    width: 50%; height: 100%; margin:0px auto; 
}
